.hide {
    display: none;
}

/* Responsive for Mobile Device ==================== */
@media(max-width: 500px) {

    /* Header Section Responsive  */
    .navbar {
        height: 70px;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .navbar .logo a, .navbar .logo a span {
        font-family: 'Lobster Two', cursive;
        font-weight: 600;
        font-size: 2rem;
    }

    .hero-section {
        height: 600px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .hero-section .hero-title {
        font-size: 1.6rem;
    }
    .hero-section .hero-text-welcome {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    .hero-section .buy-now-btn {
        font-weight: 500;
        max-width: 110px;
        padding: 0.4rem 0;
        margin-top: 15px;
    }


    /* Our Food Items responsive */
    .food-menu-section {
        margin: 0px;
        padding: 20px;
    }

    .section-title-description {
        font-size: 2rem;
    }


    /* About Pizza Hut Responsive  */
    .about-us-container {
        margin: 20px 0;
        padding: 20px;
    }

    .about-us-content {
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 50px;
        margin-top: 50px;
    }


    
}