/* Google Font =========================== */

/* Alegreya Sans font  */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700;800;900&display=swap');

/* Lobster Two Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

/* Poppins Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Color Veriable =========================== */

:root {
    --praimary: #ddd;
    --btn-color: #ff9d2d;
    --dark: #333;
    --gray: #999;
    --black:#000;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Common Style =========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    background: var(--praimary);
}

.section-title {
    margin-top: 50px;
    text-align: center;
}

.section-title-header {
    margin: 0;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 1.3rem;
    color: #ff9d2d;
}
.section-title-description {
    margin: 0;
    font-size: 2.5rem;
    color: var(--dark);
}


/* Header Style =====================  */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 70px;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff9d2d07;
    padding: 0 100px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.navbar .logo a,
.navbar .logo a span
{
    color: var(--light);
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 2.5rem;
}
.navbar .logo a span {
    color: var(--btn-color);
}


.nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-items li a{
    color: var(--light);
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.3s;
}

.nav-items li a:hover {
    color: var(--btn-color);
}

.nav-items button {
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid var(--btn-color);
    background: var(--btn-color);
    color: var(--light);
    border-radius: 25px;
    font-weight: 500;
    padding: 0.4rem 1.4rem;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-items button:hover {
    background: none;
    border: 1px solid var(--light);
    color: var(--light);
}

/* Hero section style ====================== */
.hero-section {
    height: calc(100vh - 70px);
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section .hero-text-welcome {
    color: var(--btn-color);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lobster Two', cursive;
}

.hero-section .hero-title {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: var(--praimary);
}

.hero-section .buy-now-btn {
    outline: none;
    border: 1px solid var(--btn-color);
    background: var(--btn-color);
    color: var(--light);
    max-width: 110px;
    padding: 0.5rem 0;
    margin-top: 15px;
    border-radius: 25px;
    transition: all 0.3s;
}

.hero-section .buy-now-btn:hover {
    border: 1px solid var(--light);
    background: none;
    color: var(--light);
}



/* food-menu-section  */
.food-menu-section {
    margin: 100px 0;
    padding: 0 100px;
}

.food-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.food-item-container .food-item-box {
    background: var(--light);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--shadow);
}

.food-item-container .food-item-box .food-img {
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 180px;
}

.food-item-title {
    font-size: 1.4rem;
    color: var(--dark);
}

.food-item-description {
    color: var(--gray);
}


.food-ratting-icon {
    color: var(--btn-color);
    font-size: 0.8rem;
}